
<footer class="footer footer-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <ul class="menu-option">
                    <li>CV OSP Support Helpline Details</li>
                    <li>Number: </li>
                    <li>Email ID: </li>
                </ul>
            </div>
            <div class="col-6">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="bottom-footer">
                <li>
                &copy; Copyright 2020 Tata Motors. All Rights Reserved. Legal Disclaimer Open Source License Disclosure
                </li>
                <li class="pl-4">
                Powered by  &nbsp;&nbsp;<a style="text-decoration: none;" href="https://crmdms@www.tatamotors.com/" target="_blank">TATA Motors Ltd</a>
                </li>
                <li class="ml-sm-auto">
                <a href="https://www.facebook.com/TataMotorsGroup/" target="_blank"><i alt="" class="fab fa-facebook-f fb-color"></i></a>
                <a href="https://twitter.com/TataMotors?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img alt="Twitter" src="./assets/images/twitter.png"/></a>
                <a href="https://www.linkedin.com/company/tata-motors/?originalSubdomain=in" target="_blank"><img alt="LinkedIn" src="./assets/images/linkedIn.png"/></a>
                <a href="https://www.youtube.com/user/TataMotorsGroup" target="_blank"><img alt="YouTube" src="./assets/images/youtube.png"/></a>
                <a href="https://www.instagram.com/tatamotorsgroup/?hl=en" target="_blank"><img alt="Instagram" src="./assets/images/insta.png"/></a>
                </li>
            </ul>
            </div>
        </div>
    </div>
  </footer>