<div class="container">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        style="float: right;background: transparent;border: none;color: #000;font-size: 25px;" (click)="goBack()">
        <span aria-hidden="true">×</span>
    </button>
    <div class="m-4 p-3">
        <form [formGroup]="positionForm" autocomplete="off">
            <div class="row">
                <div class="col-6">
                    <div maxlength="200" class="faq-font-label">Role:<label class="ng-tns-c39-61"
                            style="font-size: smaller; color:red; float: left;">*</label></div>
                            <ng-select [items]="roleData" [clearable]="false" class="form-group" bindLabel="role_name" placeholder="Select Role" bindValue="role_id" formControlName="role_id">
                            </ng-select>
                </div>
                <div class="col-6">
                    <div maxlength="200" class="faq-font-label">Position :<label class="ng-tns-c39-61"
                            style="font-size: smaller; color:red; float: left;">*</label></div>
                    <input style="width: 100%;" formControlName="position_name">
                </div>
            </div>
            <div class="row mt-2">
                <button class="btn-primary" (click)="saveAndUpdate()" style="width:15%">{{btnLabel}}</button>
            </div>
        </form>
    </div>
</div>
<ng-container *ngIf="showLoader">
    <div class="loader">
        <div class="ng-spinner ng-spinner-icon">
            <br />
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div>
</ng-container>